page-bandas {
.card-title {
    background-color: black;
    padding-left: 5px;    
    color: white;
    margin: 0 0 15px 0;
    font:20px Arial, Sans-serif;    
} 

.card-subtitle {
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 5px;
}

.divisor{
    margin: 0 0 0 0;
}

.card-curti {
    background-color: gray;
    padding-left: 5px;    
    color: black;
    margin: 0 0 0 0;
    font:20px Arial, Sans-serif;    
} 

.card-tocar {
    align-items: center;
    background-color: white;
    padding-left: 5px;    
    color: black;
    margin: 0 0 0 0;
    font:20px Arial, Sans-serif;    
} 

}




